absl-py==0.7.1
cycler==0.10.0
future==0.17.1
grpcio==1.20.1
h5py==2.9.0
kiwisolver==1.1.0
Markdown==3.1
matplotlib==3.0.3
numpy==1.16.3
pandas==0.24.2
Pillow==8.3.2
protobuf==3.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tb-nightly==1.14.0a20190511
torch==1.1.0
torchvision==0.2.2.post3
Werkzeug==0.15.3
librosa==0.6.3